
h1 {
  background-image:
  url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
font-family: Helvetica;
font-weight: bold;
    text-align: center;
    font-size: 100px;
    color:Khaki;
}
#brush{
  background-color: mediumspringgreen;
}
.item h2 {
  font-size: 32px;
  color: white;
}
h1, h2, h3, p {
  font-family: Helvetica;

}
h2{
  font-weight: bold;
}
.price{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
#frame {
  background-color: lightcoral
}


#paint{
  background-color: skyblue;
}
